input{
    border:2px solid blue;
    background-color: aliceblue;
    width: 20rem;
    height: 2.5rem;
    border-radius: 20px;
    font-family: "Poppins";
    font-weight: 600;

}

.submitButton{
    border-radius: 10px;
    width: 5rem;
    height: 2.5rem;
    background-color: #41c067;
    color: white;
    font-family:"Poppins";
    font-weight: 600;
    margin: 10px;
}

.homeButton{
    border-radius: 10px;
    width: 5rem;
    height: 2.5rem;
    background-color: #7e36c2;
    color: white;
    font-family:"Poppins";
    font-weight: 600;
}